<div class="header">
  <div class="container">
    <h1>мыслишки :)</h1>
  </dvi>
</div>

<div class="main">
  <div class="container">

    <%= form_for @new_post do |f| %>
      <%= f.text_field :comment, :placeholder => "о чем думаете сейчас?" %>
      <%= f.submit class: "btn", value: "Отправить" %>
    <% end %>

    <ul class="comments">
      <% @all_posts.each do |p| %>
      <li><%= p.comment %></li>
      <% end %>
    </ul>

  </div>
</div>